@import 'tailwindcss';

@import 'tw-animate-css';

@import './styles-shadcn.css';

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-background text-foreground;
    font-family:
      -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  code {
    font-family:
      source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  }
  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }
}

:root {
  --my-color: rgb(184, 35, 184);
}

@theme inline {
  --color-my-color: var(--my-color);
}

@theme {
  --text-2xs: 0.625rem;
  --text-2xs--line-height: calc(1 / var(--text-2xs));

  --radius-5xl: 2.5rem;
  --radius-6xl: 4rem;
  --radius-7xl: 5.5rem;
}

@utility scroll-hidden {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}
